{% extends 'base.html' %}
{% load staticfiles %}

{% block extrastyle %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/indexContr.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
    <div class="container">

        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info-pet">
                <div class="panel-heading-pet">
                    <div class="panel-title-pet">
                        <i class="glyphicon glyphicon-lock"></i>
                         Reestablecer contraseña
                    </div>
                </div>

                <div style="padding-top:30px" class="panel-body text-left">
                    <p class="tit">Introduzca su correo electrónico para reestablecer la contraseña</p>
                    {% if error %}
                        <div id="login-alert"
                             class="alert alert-danger col-sm-12"><p>{{ error_msg }}</p></div>
                    {% endif %}

                    <form class="form-horizontal" action="/reset/" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                         <label for="user" id="userlab" >Usuario:</label><input type="user" id="user" name="user">
                        <div class="col-sm-12 controls text-center">
                            <button type="submit" id="btn-loginPass" class="btn btn-login-pet" name="correo"> Enviar</button>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script async src="{% static 'js/validacion.js' %}"></script>
{% endblock %}