{% extends 'base.html' %}
{% load staticfiles %}

{% block extrastyle %}
    <link href="{% static 'css/animal-info.css' %}" rel="stylesheet">
    <link href="{% static 'css/animales-tab.css' %}" rel="stylesheet">
    <link href="{% static 'css/panel.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
    <nav class="navbar navbar-default" style="margin-bottom: 0">
        <div class="container-fluid">
            <div class="">
                <a class="navbar-brand" href="/">
                    <img alt="CheckingPets" style="display: inline;" class="checking-logo"
                         src="{% static 'img/LogoSinNombre.png' %}">

                    <h3 class="checking-title">Checking Pets</h3>
                </a>
            </div>
            <div style="float:right; padding-top: 15px;"><p
                    style="display: inline-block; margin-right: 8px; font-size: medium">Hola <b>{{ user }}</b></p>
                <a href="/logout/">
                    <span class="glyphicon glyphicon-log-out"></span>

                    <p style="display: inline-block; margin-left: 4px; font-size: medium">¿Salir?</p>
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
                <div class="panel panel-info-pet" style="margin-top: 10px">
                    <div class="panel-heading-pet">
                        <img src="{% static 'img/LogoSinNombre.png' %}" class="logo-header">

                        <h3 class="panel-title-pet" style="display: inline-block">Tarjeta de información</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center" style="margin-bottom: 5px"><img
                                    alt="Sin imagen"
                                    src="{{ animal.foto.avatar.url }}"
                                    class="img-circle"></div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information" style=" margin-left: 20px">
                                    <tbody>
                                    <tr>
                                        <td>Nombre:</td>
                                        <td>{{ animal.nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de nacimiento:</td>
                                        <td>{{ animal.nacimiento }}</td>
                                    </tr>
                                    <tr>
                                        <td>Descripción:</td>
                                        <td>{{ animal.descripcion }}</td>
                                    </tr>
                                    <tr>
                                        <td>Color</td>
                                        <td>
                                            <div class="btn-group" data-toggle="buttons">
                                                <div class="btn-group" data-toggle="buttons">
                                                    {% for codigo, color in colores.items %}
                                                        <label class="btn btn-color-{{ color }} {% if animal.color == codigo %}active{% endif %}">
                                                            <input type="radio" name="color" value="{{ color }}"
                                                                   disabled>
                                                            <span class="glyphicon glyphicon-ok"></span>
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--
                                <div class="text-center">
                                    <a href="/vacunas/{{ animal.id }}"><button class="btn btn-login-pet">Vacunas</button></a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="padding-bottom: 40px">
                        <span class="pull-right">
                            <button type="button" class="btn btn-sm btn-warning glyphicon glyphicon-edit"
                                    data-toggle="modal" data-target="#modalEdit"
                                    data-nombre="{{ animal.nombre }}"></button>
                                {% include 'animal_update_modal.html' %}
                            <button type="button" class="btn btn-sm btn-danger glyphicon glyphicon-remove"
                                    data-toggle="modal" data-target="#modalDelete"
                                    data-nombre="{{ animal.nombre }}"></button>
                                {% include 'animal_delete_modal.html' %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="src-image" src="{{ animal.foto.avatar.url }}"/>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/validacion.js' %}"></script>
    <script src="{% static 'js/animal_update_modal.js' %}"></script>

{% endblock %}
