

#userlab{

    margin-right: 1%;
}

input{


    width: 70%;
    display: block;
    margin-left: 15%;
}



p{

    text-align: left;
}


.tit{

    text-align: center;
}
label{

    margin-left: 15%;
    text-align: left;
}